<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Resource Entry</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" th:text="${userwelcome}">

</div>
<div class="container">
    <form name="enterresource" action="#" th:action="@{/storeresource}" method="POST">
        <br/>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="ClickMe" type="Submit"
                th:text="ClickMe"></button>

    </form>
</div>
</body>
</html>